@import "tailwindcss";

@theme {
  --color-primary: #ff1a1a;
  --color-dark: #050505;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: #000;
    color: white;
    overflow-x: hidden;
  }
}